.formContainer {
    display: inline-block;
    width: 50%;
    vertical-align: top;


    .button {
        display: block;
        margin: 10px 0;
    }
}
.picContainer {
    position: relative;
    overflow: auto;
    height: 180px;
    display: inline-block;
    vertical-align: top;
}
.accountPic {
    width: 150px;
    height: 150px;
}
.changePic {
    width: 150px;
    height: 30px;
    background: #16A085;
    position: absolute;
    left: 0;
    top: 150px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.inputField {
    background: #F4F4F4;
    display: block;
    border: 1px solid #B8B8B8;
    padding: 1.4%;
    max-width: 400px;
    width: 100%;
    border-radius: 4px;

    &.disabled {
        background: #DFDFDF;
    }
}
.detailLabel {
  font-size: 0.9em;
  margin: 10px 0 5px 0;
}
.colourOptions {
    .colourRadio {
        display: none;
    }
}
.colourOption {
    width: 50px;
    height: 50px;
    margin-right: 3%;
    display: inline-block; 
    box-sizing: border-box;
    border-radius: 4px;
    @include transition(0.3s border);

    &.selected {
        border: 4px solid #88BCF7;
    }

    &.a {
        @include linear-gradient(#076d91 0%, #076d91 50%, #064e67 50%, #064e67 100%);
    }
    &.b {
        @include linear-gradient(#e74c3c 0%, #e74c3c 50%, #b94034 50%, #b94034 100%);
    }
    &.c {
        @include linear-gradient(#46404c 0%, #46404c 50%, #28252C 50%, #28252C 100%);
    }
}
.clanCont {

    overflow: auto;
    .clanEmblem {
        width: 150px;
        height: 150px;
        float: left;
        margin-right: 2%;
    }
    h2 {
        margin: 0;
        margin-bottom: 1%;
    }
    h3 {
        text-align: left;
        margin: 0;
    }
}

.clanBox {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;

    &:first-child {
        margin: 1% 0.5% 1% 0;
    }

    &:last-child {
        margin: 1% 0 1% 0.5%;
    }

    .boxTitle {
        background: #ba2027 ;
    }
}
.clanList {
    width: 101%;
    margin: 0 -0.5%;

    .clanRadio {
        display: none;
    }
}
    

.clanSelect {
    overflow: auto;
    padding: 1.5%;
    margin: 0.5%;
    box-sizing: border-box;
    background: #FFF;
    width: 32.33%;
    display: inline-block;
    border: 1px solid #B9B9B9;
    vertical-align: top;
    cursor: pointer;
    border-radius: 4px;
    @include transition(0.3s background);

    &.selected {
        background-color: #FFFBB1;
    }

    &.new {
        input {
            width: calc(95% - 50px);
        }
    }

    img, .imageNew {
        height: 50px;
        width: 50px;
        float: left;
        margin-right: 1%;
    }
    .imageNew {
        background: #B9B9B9;
        color: #FFF;
        font-size: 0.8em;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
    }
    h4 {
        margin: 0;
    }

    .clanMembers {
        margin-top: 1%;

        img {
            height: 25px;
            width: 25px;
            background: #B9B9B9;
            border-radius: 31px;
        }
    }

}
.boxButton {
    overflow: auto;
    bottom: 0;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    text-align: right;

    .button {
        vertical-align: top;
        display: inline-block;
    }
}
    


