.stats {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;

  &.xp {
    text-align: center;
    font-size: 2em;
    color: #FFD700;

    &.flaticon-medal61 {
      font-size: 2em;
    }

    p {
      margin: 0;
    }
  }
}
.progressDiv {

}

.statChartHolder {

}

.statRightHolder {
display: inline-block;
height: 90%;
width: 64%;
position: relative;
top: -32px;
margin: 0;
}
.statRightHolder ul {
list-style: none;
    margin: 0;
}
.statRightHolder li {
border-bottom: 1px solid #ccc;
height: 85px;
width: 95%;
position: relative;
top: -25px;
}
.statRightHolder h3 {
display: inline-block;
margin-right: 15px;
color: #B6B5B5;
font-weight: 300;
font-size: 38px;
}
.statRightHolder span {
display: inline-block;
color: #B6B5B5;
font-size: 21px;
font-weight: 300;
}

.statsLeft {
    list-style:none;
    display:inline-block;
    width:45%;
}
.statsLeft li {
width: 100%;
height: 14px;
border: none;
top: 5px;
margin-bottom: 25px;
}
.statsLeft h3{
    font-size:17px;
    display: inline-block;
}
.statsLeft span{
    font-size: 17px;
    display:inline-block;
}
.statsRight {
width: 45%;
display: inline-block;
position: absolute;
}
.statsRight li {
width: 100%;
height: 14px;
border: none;
top: 5px;
margin-bottom: 25px;
}
.statsRight h3{
    font-size:17px;
    display: inline-block;
}
.statsRight span{
    font-size: 17px;
    display:inline-block;
}
/* Pie Chart */
.progress-pie-chart {
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  margin: 0 auto;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  @include transition(1.5s);
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #81CE97;
  transform: rotate(0deg);
}
.ppc-progress-fill.ppc-progress-fill0 {
  background: #2F9DAB;
}
.ppc-progress-fill.ppc-progress-fill1 {
  background: #AB452F;
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #F4F4F4;
  text-align: center;
  display: table;
}

.ppc-percents span {
  display: block;
  font-weight: bold;
  color: #81CE97;
  box-sizing: border-box;
  padding: 2%;

  &.pie-info {
    font-size: 1.2em;
  }
  &.pie-percent {
    font-size: 2em;
  }
}

.pcc-percents-wrapper0 span {
  color: #2F9DAB;
}
.pcc-percents-wrapper1 span {
  color: #AB452F;
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}


