html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: "cabin", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    color: #555555;
    /* min-width: 968px; */
}
.preload * {
    @include transition(none !important);
}
h1 {
    margin: 0;
    font-size: 2.6em;
    font-weight: 400;
}
h3 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0;
}
h6 {
    margin: 2%;
    padding: 4%;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: inherit;
}
.headAnchor {
    display: block;
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
}
h2.sectionTitle {
    margin: 0 0 1% 0;
    background: #16A085;
    color: #FFF;
    padding: 1%;
    font-size: 1.1em;
    text-transform: uppercase;
}
.achievements .sectionTitle, .profileAchievements .sectionTitle {
    background-color: #2F9DAB;
}
.quests .sectionTitle, .profileQuests .sectionTitle {
    background-color: #AB452F;
}

.clickable {
    cursor: pointer;
}
.wrapper {
    width: 100%;
    position: relative;
    padding-top: $navHeight;
    height: 100%;
    box-sizing: border-box;
}
.contentContainer {
    height: 100%;
    .noScroll {
        overflow: hidden;
    }
}
.drawerMove {
    @include transition($drawerSlide);
    height: 100%;
}
.adminCont {
  width: calc(100% - 250px);
  float: right;
}
.content {
    @include transition($drawerSlide width);
    max-width: 1800px;
    margin: 0 auto;
    padding: 0.5%;
    box-sizing: border-box;

    &.admin {
        width: calc(100% - 19.5%);
        margin: 0;
    }

    &.noPadding {
        padding: 0%;
    }

}


.button {
  background: rgba(0, 0, 0, 0.42);
  display: inline-block;
  text-align: center;
  padding: 0.6em;
  border-radius: 5px;
  font-size: 1rem;
  border: 0;

  &.hidden {
    display: none !important;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.51);
  }
  &:active {
    background: rgba(0, 0, 0, 0.54);
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.52);
  }

  &.blue {
    background: #1892B6;
    color: #FFF;

    &:hover {
      background: #1589AB;
    }
    &:active {
      background: #157F9E;
      box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.3);
    }
  }
  &.red {
    background: #ED3600;
    color: #FFF;

    &:hover {
        background: #E43400;
    }
    &:active {
        background: #CB2E00;
    }
  }
  &.orange {
    background: #ED7500;
    color: #FFF;

    &:hover {
        background: #E06F00;
    }
    &:active {
        background: #D06700;
    }
  }
}
.warningBanner {
  padding: 1%;
  background: #E00000;
  border-radius: 4px;
  color: #FFF;
  text-align: center;

  &.blue {
    background: #009CE0;
  }
  &.transparent {
    background: transparent;
    color: #555;
  }
  &.cookie {
    background: rgba(0, 0, 0, 0);
    color: #FFF;
    padding: 0.5%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    height: 50px;
    line-height: 35px;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: left;

    a {
      border-bottom: 1px dotted;
    }

    .close {
      float: none;
      font-size: 1.5em;
      padding: 1%;
      cursor: pointer;
    }
  }
}
.c404 {
    height: 100%;
    min-height: 100%;
    background: #000;
    color: #FFF;
    padding: 2%;
}
.e404 {
    text-align: center;
    font-size: 1.4em;
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;

    p {
        margin: 1.5%;
    }

    h3 {
        font-size: 2em;
    }

    a p {
        font-size: 0.7em;
    }
}

.invader {
  display: inline-block;
  margin: 0.5%;
  width: 5%;
}
$s1: 2% 0;
$s2: 1.8% 0;
$s3: 1.8% 0;
.space1 {
  padding: $s1;
  background-image: url(../assets/404/space_1.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.space2 {
  padding: $s2;
  background-image: url(../assets/404/space_3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.space3 {
  padding: $s3;
  background-image: url(../assets/404/space_5.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.missiles {
  position: absolute;
  top: 0;

    &.ready {
      @include transition(2s linear);
    }
    &.fire {
    top: 100px;
  }
}
.missile {
  width: 16px;
  height: 27px;
  margin: 0 auto;
  background-image: url(../assets/404/space_13.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.space1dead {
  padding: $s1;
}
.space2dead {
  padding: $s2;
}
.space3dead {
  padding: $s3;
}

.bunkers {
  position: absolute;
  bottom: 60px;
  width: 100%;
}
.bunker {
  display: inline-block;
  width: 6.6%;
  padding: 2.51% 0;
  margin: 0 7%;
  background-image: url(../assets/404/space_7.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.players {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.player {
  width: 50px;
  height: 31px;
  background-image: url(../assets/404/space_8.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;

  &.dead {
    width: 55px;
    background-image: url(../assets/404/space_9.svg);
  }
} 
p.message {
  font-family: eightMadness, sans-serif;
  color: #f00;
  font-size: 2em;
  margin: 5% 0;
  position: relative;
  top: 15px;
  opacity: 0;
  @include transition(2s);

  &.visible {
    top: 0;
    opacity: 1;
  }
}   
.gradient-rainbow { 
  background: -moz-linear-gradient(left, red, orange, yellow, green, 
  blue, indigo, violet);
  background: -webkit-gradient(linear, left center, right center, from(red), 
  color-stop(14%, orange), color-stop(28%, yellow), color-stop(42%, green), 
  color-stop(56%, blue), color-stop(70%, indigo), to(violet)); 
  background: -o-linear-gradient(left, red, orange, yellow, green, 
  blue, indigo, violet);
  background: -ms-linear-gradient(left, red, orange, yellow, green, 
  blue, indigo, violet);
}

