html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: "cabin", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    color: #555555;
    min-width: 968px;
}
h1 {
    margin: 0;
    font-size: 2.6em;
    font-weight: 400;
}
h3 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0;
}
h6 {
    margin: 2%;
    padding: 4%;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: inherit;
}
.headAnchor {
    display: block;
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
}
h2.sectionTitle {
    margin: 0 0 1% 0;
    background: #16A085;
    color: #FFF;
    padding: 1%;
    font-size: 1.1em;
    text-transform: uppercase;
}
.achievements .sectionTitle, .profileAchievements .sectionTitle {
    background-color: #2F9DAB;
}
.quests .sectionTitle, .profileQuests .sectionTitle {
    background-color: #AB452F;
}

.clickable {
    cursor: pointer;
}
.wrapper {
    width: 100%;
    position: relative;
    padding-top: $navHeight;
    height: 100%;
    box-sizing: border-box;
}
.contentContainer {
    height: 100%;
    .noScroll {
        overflow: hidden;
    }
}
.drawerMove {
    @include transition($drawerSlide);
}
.adminCont {
  width: calc(100% - 19.5%);
  float: right;
}
.content {
    @include transition($drawerSlide width);
    max-width: 1800px;
    margin: 0 auto;
    padding: 0.5%;
    box-sizing: border-box;

    &.admin {
        width: calc(100% - 19.5%);
        margin: 0;
    }

    &.noPadding {
        padding: 0%;
    }

}
.footer {
    margin: 0 0.5% 0.5% 0.5%;   
    @include transition($drawerSlide width);

    &.admin {
        clear: right;
        width: auto;
display: block;
        float: right;
        box-sizing: border-box;
        padding: 0 0.5% 0.5% 0.5%;
        margin: 0;
        white-space: nowrap;
    }
}
.gallop {
    @include transition(6s ease);
    position: relative;
    left: 0px;
}

.button {
  background: rgba(0, 0, 0, 0.42);
  display: inline-block;
  text-align: center;
  padding: 0.6em;
  border-radius: 5px;
  font-size: 1rem;
  border: 0;

  &:hover {
    background: rgba(0, 0, 0, 0.51);
  }
  &:active {
    background: rgba(0, 0, 0, 0.54);
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.52);
  }

  &.blue {
    background: #1892B6;
    color: #FFF;

    &:hover {
      background: #1589AB;
    }
    &:active {
      background: #157F9E;
      box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.3);
    }
  }
  &.red {
    background: #ED3600;
    color: #FFF;

    &:hover {
        background: #E43400;
    }
    &:active {
        background: #CB2E00;
    }
  }
}
.warningBanner {
  padding: 1%;
  background: #E00000;
  border-radius: 4px;
  color: #FFF;
  text-align: center;

  &.blue {
    background: #009CE0;
  }
}


