/* Navigation */

.nav {
    /*@include display(flex);
    @include justify-content(space-between); */
    width: 100%;
    height: $navHeight;
    background-color: #16a085;
    position: fixed;
    top: 0;
    z-index: 9999;

    .user {
        position: absolute;
        left: 0;
    }
}
#logo {
    text-align: center;
    font-weight: 700;
    font-size: 1.6em;
    color: #FFF;
    line-height: $navHeight;
    padding: 0 0.5%;

    a {
        text-decoration: none;
        color: #FFF;
    }
}
.profilePicSmall {
    width: 30px;
    margin: 10px 10px 0.5% 0;
    float: left;
}

.user {
    color: #fff;
    line-height: $navHeight;
    max-height: $navHeight;
    padding: 0 0.5%;
    cursor: pointer;
    white-space: nowrap;
}
.close {
    float: right;
    font-size: 2em;
}
.notificationIcon {
    text-align: left;
    background-image: url(../assets/bell.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: calc(100% - 6px);
    padding-right: calc(20px + 0.5%);
    padding-left: 0.5%; 
    min-width: 10px;
    box-sizing: border-box;
    color: #FFF;
    line-height: $navHeight;
    text-align: right;

    &.loggedOut {
        background-image: none;
    }
}
.downArrow {
    font-size: 0.7em;
    margin-left: 0.5em;
}
.drawer {
    position: fixed;
    display: block;
    vertical-align: top;
    min-width: 250px;
    background: #00F;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 9999;
    left: 0;
    color: #FFF;
    @include transition($drawerSlide);

    .user {
        height: 50px;
        padding: 0px 2.5%;
    }

    &.closed {
        left: -346px;
    }
}
.classSelect {
    padding: 4%;
    margin: 2%;

    select {
        width: 100%;
    }
}
ul.menu {
    list-style: none;
    color: #FFF;
    margin: 0;
    padding: 0%;
    font-size: 1.1em;

    li {
        padding: 4%;
        margin: 2%;
        border-radius: 4px;
        font-weight: 700;

        &:hover {
            background-color: rgba(0, 0, 0, 0.28);
        }


    }

}
.sideIcon {
    margin-right: 4%;
    font-weight: 400;
}
.sectionNavigation {
    padding: 1% 0;
    width: 80%;
    @include transition($drawerSlide);


    ul {
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #808080;

        a {
            color: inherit;
        }
        li {
            display: inline-block;
            margin: 0 2% -2px 0;
            padding: 0 0 4px 0;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &.currentPage {
                border-bottom: 2px solid #16a085;
            }
            &:hover {
                border-bottom: 2px solid #16a085;
            }
        }
    }
}
.footer {
  position: absolute;
  bottom: 0;
  color: #FFF;
  text-align: center;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;

    &.admin {
        clear: right;
        width: auto;
        display: block;
        float: right;
        box-sizing: border-box;
        padding: 0 0.5% 0.5% 0.5%;
        margin: 0;
        white-space: nowrap;
    }
}
.gallop {
    @include transition(6s ease);
    position: relative;
    left: 0px;
}
ul.footerLinks {
    list-style: none;
    margin: 0;
    padding: 1%;
    font-size: 0.8em;

    li {
        display: inline-block;
        margin-right: 1%;
        margin-bottom: 2%;

    }
}
@include hidpi(2) {
    .notificationIcon {
        background-image: url(../assets/bell2x.png);
    }
}
