@-webkit-viewport {width: device-width;}@-moz-viewport {width: device-width;}@-ms-viewport {width: device-width;}@-o-viewport {width: device-width;}@viewport {width: device-width;}
@mixin transform($x) { -webkit-transform: $x; -moz-transform: $x; -ms-transform: $x; transform: $x; }
@mixin transform-origin($x) { -webkit-transform-origin: $x; -moz-transform-origin: $x; -ms-transform-origin: $x; transform-origin: $x; }
@mixin transition($x) { -webkit-transition: $x; -moz-transition: $x; -ms-transition: $x; transition: $x; }
@mixin display-flex { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: flex; display: -o-flex; }

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: "cabin", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    color: #555555;
}
h1 {
    margin: 0;
    font-size: 2.6em;
    font-weight: 400;
}
h3 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0;
}
.clickable {
    cursor: pointer;
}
.wrapper {
	width: 100%;
	position: relative;
}
.contentContainer.noScroll {
    overflow: hidden;
}
.content {
	width: 100%;
	max-width: 1400px;
    padding: 0.5%;
    box-sizing: border-box;
}

/* Navigation */

.nav {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #0d5b4c;
    background-color: #138972;
    position: relative;
    z-index: 9999;
}
#logo {
    font-weight: 700;
    font-size: 1.6em;
    color: #FFF;
    line-height: 50px;
    padding: 0 0.5%;
    float: left;
}
.user {
    float: right;
    color: #fff;
    line-height: 50px;
    padding: 0 0.5%;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.downArrow {
    font-size: 0.7em;
    margin-left: 0.5em;
}

/* Login/Register Forms */

.loginContainers {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    display: none;
}
.loginContainers.visible {
    display: block;
}
.entryForm {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 350px;
    @include transform(translate(-50%, -50%));
    display: none;
}
.entryForm.visible {
    display: block;
}
.loginDiv {
    background-color: #fff;
    padding: 5%;
    box-sizing: border-box;
}
.icon-cross {
    float: right;
    font-size: 0.8em;
    cursor: pointer;
}
.field {
    width: 100%;
    font: inherit;
    font-weight: 400;
    padding: 3%;
    box-sizing: border-box;
    margin: 1% 0;
    border: 1px solid #A5A5A5;
}
.field:focus {
    outline: none;
    border-color: #F00;
}
.formSubmit p {
    float: left;
}
.formSubmit p.clickable:hover {
    border-bottom: 1px dashed #A5A5A5;
}
.formSubmit p.clickable {
    border-bottom: 1px dashed rgba(0, 0, 0, 0);
    padding-bottom: 1px;
}
.submit, .register {
    background-color: #138972;
    border: none;
    color: #FFF;
    padding: 10px 25px;
    font-size: 1em;
    font: inherit;
    float: right;
    border-bottom: 2px solid #0E6151;
    position: relative;
    cursor: pointer;
}
.submit {
    margin: 2% 0 0 0;
}
.submit:focus, .register:focus {
    background-color: #146E5C;
    outline: none;
}
.submit:active, .register:active {
    background-color: #147B67;
    border-bottom: 2px solid transparent;
    top: 2px;
}
.register {
    margin: 2% 0;
}
.formBottom {
    display: block;
    overflow: auto;
    margin-top: 1px;
    background-color: #F0F0F0;
}
.formBottom p {
    float: left;
}

/* Main */
.mainBlock {
    display: inline-block; 
    vertical-align: top;
    width: 80%;
}
.sideBlock {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 400px;
    background: #E5E5E5;
}
.sectionNavigation {
    padding: 1% 0;
}
.sectionNavigation ul {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #808080;
}

.sectionNavigation ul li {
    display: inline-block;
    margin: 0 2% -2px 0;
    padding: 0 0 4px 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

/* Leaderboard */
.mainBoard {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0;
    border-spacing: 0;
}
.headerBoard {
    background-color: #16a085;
    color: #fff;
    font-weight: 700;
    font-size: 1.1em;   
}
.headerBoard th {
    margin: 0;
    padding: 1.3% 1%;
    border: 0;
}
.boardEntry {
    border: 0;
    padding: 0;
    margin: 0;
}
.boardEntry td {
    padding: 1%;
}
.boardEntry:nth-child(even) {
    background: #ececec;
}
.boardEntry:first-child {
    background: #f9f9f9;
}
.boardIcon {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    float: left;
        margin-right: 5%;
}
.personIcon {
    background-image: url(../assets/personIconM.png);
}  
.achievementsIcon {
    background-image: url(../assets/trophyIcon.png);
}  
.questsIcon {
    background-image: url(../assets/pencilIcon.png);
}  
.xpIcon {
    background-image: url(../assets/xpIcon.png);
}  
img.avatarBoard {
    height: 40px;
    width: 40px;
    background: gray;
}

.sectionNavigation ul li.current, .sectionNavigation ul li:hover {
    border-bottom: 2px solid #16a085;
}

@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.personIcon {
    background-image: url(../assets/personIconM2x.png);
}  
.achievementsIcon {
    background-image: url(../assets/trophyIcon2x.png);
}  
.questsIcon {
    background-image: url(../assets/pencilIcon2x.png);
}  
.xpIcon {
    background-image: url(../assets/xpIcon2x.png);
}  
}

@media screen and (max-width: 768px) {
   
}
