@-webkit-viewport {width: device-width;}@-moz-viewport {width: device-width;}@-ms-viewport {width: device-width;}@-o-viewport {width: device-width;}@viewport {width: device-width;}
@import "bourbon/bourbon";

$navHeight: 50px;
$drawerSlide: 0.3s;

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: "cabin", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    color: #555555;
}
#cats {
    background-image: url(http://localhost:8888/assets/cats.gif);
    height: 100%;
}
h1 {
    margin: 0;
    font-size: 2.6em;
    font-weight: 400;
}
h3 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0;
}
h6 {
    margin: 2%;
    padding: 4%;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}
a {
text-decoration: none;
color: inherit;
}
.clickable {
    cursor: pointer;
}
.wrapper {
	width: 100%;
	position: relative;
    padding-top: $navHeight;
}
.contentContainer {
    .noScroll {
        overflow: hidden;
    }
}
.content {
    @include transition($drawerSlide);
	max-width: 1800px;
    margin: 0 auto;
    padding: 0.5%;
    box-sizing: border-box;

    &.admin {
        width: calc(100% - 19.5%);
        margin: 0;
        float: right;
    }

}


/* Navigation */

.nav {
    @include display(flex);
    @include justify-content(space-between);
    width: 100%;
    height: $navHeight;
    background-color: #16a085;
    position: fixed;
    top: 0;
    z-index: 9999;
}
#logo {
    text-align: center;
    font-weight: 700;
    font-size: 1.6em;
    color: #FFF;
    line-height: $navHeight;
    padding: 0 0.5%;

    a {
        text-decoration: none;
        color: #FFF;
    }
}
.profilePicSmall {
    width: 30px;
    margin: 10px 10px 0.5% 0;
    float: left;
}
.user {
    color: #fff;
    line-height: $navHeight;
    padding: 0 0.5%;
    cursor: pointer;
}
.close {
    float: right;
    font-size: 2em;
}
.notificationIcon {
    text-align: left;
    background-image: url(../assets/bell.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 17px;
    padding-right: calc(20px + 0.5%);
    padding-left: 0.5%; 
    min-width: 10px;
    color: #FFF;
    line-height: $navHeight;
}
.downArrow {
    font-size: 0.7em;
    margin-left: 0.5em;
}
.drawer {
    position: fixed;
    display: block;
    vertical-align: top;
    width: 19.5%;
    min-width: 198px;
    background: #00F;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 9999;
    left: 0;
    @include transition($drawerSlide);

    .user {
        height: 50px;
        padding: 0px 2.5%;
    }

    &.closed {
        left: -346px;
    }
}
ul.menu {
    list-style: none;
    color: #FFF;
    margin: 0;
    padding: 0%;
    font-size: 1.1em;

    li {
        padding: 4%;
        margin: 2%;
        border-radius: 4px;
        font-weight: 700;

        &:hover {
            background-color: rgba(0, 0, 0, 0.28);
        }
    }

}
.sideIcon {
    margin-right: 4%;
    font-weight: 400;
}

/* Login/Register Forms */

.loginContainers {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    display: none;
    z-index: 9998;
}
.loginContainers.visible {
    display: block;
}
.entryForm {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 350px;
    @include transform(translate(-50%, -50%));
    display: none;
}
.entryForm.visible {
    display: block;
}
.loginDiv {
    background-color: #fff;
    padding: 5%;
    box-sizing: border-box;
}
.icon-cross {
    float: right;
    font-size: 0.8em;
    cursor: pointer;
}
.field {
    width: 100%;
    font: inherit;
    font-weight: 400;
    padding: 3%;
    box-sizing: border-box;
    margin: 1% 0;
    border: 1px solid #A5A5A5;
}
.field:focus {
    outline: none;
    border-color: #F00;
}
.formSubmit p {
    float: left;
}
.formSubmit p.clickable:hover {
    border-bottom: 1px dashed #A5A5A5;
}
.formSubmit p.clickable {
    border-bottom: 1px dashed rgba(0, 0, 0, 0);
    padding-bottom: 1px;
}
.submit, .register {
    background-color: #138972;
    border: none;
    color: #FFF;
    padding: 10px 25px;
    font-size: 1em;
    font: inherit;
    float: right;
    border-bottom: 2px solid #0E6151;
    position: relative;
    cursor: pointer;
}
.submit {
    margin: 2% 0 0 0;
}
.submit:focus, .register:focus {
    background-color: #146E5C;
    outline: none;
}
.submit:active, .register:active {
    background-color: #147B67;
    border-bottom: 2px solid transparent;
    top: 2px;
}
.register {
    margin: 2% 0;
}
.formBottom {
    display: block;
    overflow: auto;
    margin-top: 1px;
    background-color: #F0F0F0;

    p {
        float: left;
    }
}

/* Main */
.mainBlock {
    display: inline-block; 
    vertical-align: top;
    width: 80%;
    @include transition($drawerSlide);
    white-space: initial;
}
.sectionNavigation {
    padding: 1% 0;
    width: 80%;
    @include transition($drawerSlide);


    ul {
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #808080;

        a {
            color: inherit;
        }
        li {
            display: inline-block;
            margin: 0 2% -2px 0;
            padding: 0 0 4px 0;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &.currentPage {
                border-bottom: 2px solid #16a085;
            }
        }
    }
}

.sectionNavigation ul li.current, .sectionNavigation ul li:hover {
    border-bottom: 2px solid #16a085;
}
.drawerO {
    width: 100%;
}

/* Leaderboard */
.mainBoard {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
.headerBoard {
    background-color: #16a085;
    color: #fff;
    font-weight: 700;
    font-size: 1.1em;  
    border-right: 1px solid #16A085;

    th {
        margin: 0;
        padding: 13px 1%; 
        border: 0;
    }     
}
.boardEntry {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid #CCC;

    td {
        padding: 1%;
        border-left: 1px solid #CCC;
    }
    td:last-child {
        border-right: 1px solid #CCC;
    }

    &:nth-child(even) {
        background: #ececec;
    }
    &:first-child {
        background: #f7f7f7;
    }
    &:hover {
        background-color: #696969;
        color: #FFF;
    }
}
.pos {
    width: 15px;
}
.boardAvatar {
    width: 40px;
}

.boardIcon {
    height: 20px;
    width: 20px;
    font-size: 1.1em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    float: left;
    margin-right: 5%;
    color: #F3B949;
    color: rgba(0, 0, 0, 0.46);
    font-weight: 400;
}
.flaticon-trophy56.boardIcon {
    @include transition(3s);

    &:hover {
        transform: rotateY(360deg);
    }
}
.personIcon {
    background-image: url(../assets/personIconM.png);
    float: none;
    margin: 0 auto;
}  
.achievementsIcon {
    background-image: url(../assets/trophyIcon.png);
}  
.questsIcon {
    background-image: url(../assets/pencilIcon.png);
}  
.xpIcon {
    background-image: url(../assets/xpIcon.png);
}
#sorttable_sortfwdind, #sorttable_sortrevind {
    display: none;
}
.avatarBoard {
    height: 40px;
    width: 40px;
    background: gray;
}
.StudentName a {
    border-bottom: 1px dotted;
}
.achievementCircleCont, .questCircleCont {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    @include transition(0.3s);
}
.achievementCircleCont {
    border: 2px solid #808080;
    background: #808080;
    border-radius: 62px;
    &.selected {
        border-color: #9D0000;
        background: #9D0000;
        /* @include animation(achievementHover 3s infinite);   */
    }
}
.achievementCircle, .questCircle {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.achievementCircle {
    border-radius: 50px;
}
.questCircle {
    width: 96px;
    height: 96px;
}
.questCircleCont {
    background-image: url(../assets/quests/hexback.png);
    background-size: contain;
    padding: 2px;
    box-sizing: border-box;

    &.selected {
        background-image: url(../assets/quests/hexbackR.png);
    }
}
@include keyframes(achievementHover) {
    0% { @include transform(rotate(-15deg)); }
    50% { @include transform(rotate(15deg)); }
    100% { @include transform(rotate(-15deg)); }

}

.achievementDetails, .questDetails {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px - 1% - 15%);

    p {
        margin: 0;
        padding: 0;
    }
}
@include keyframes(fadeOut) {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@include keyframes(fadeIn) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.achievementIcon, .questIcon {
    width: 100px;
    height: 100px;
    background-size: contain;
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
}
.achievementIcon {
    border-radius: 50px;
    @include transition(0.6s);
}
.achievementInfo, .questInfo {
    overflow: auto;
    border-bottom: 1px solid;
    padding-bottom: 1%;
    margin-bottom: 1%;
    @include transition(0.3s);
}

.achievementXP, .questXP {
    width: 15%;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    .flaticon-medal61 {
        font-size: 2em;
        font-weight: 400;
        color: #F3B949;
    }
}
/* Side Boxes */
.sideBlock {
    display: inline-block;
    vertical-align: top;
    width: 19.5%;
    padding-left: 0.5%;

    &.drawerO {
        display: none;
    }
}
.boxTitle {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 1.1em; 
    padding: 13px 1%; 
}
.boxContent {
    border: 1px solid #b9b9b9;
    border-top: none;
    text-align: center;
}
.box {
    width: 100%;
    background: #fff; 
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 3%;
}
.youBox {
    .boxContent {
        padding: 4%;
    }
}
.boxStat {
    margin: 7.5% 0;
    width: 33.33%;
    display: inline-block;
}
.boxStat:nth-child(2) { 
    border-left: 1px solid #B9B9B9; 
    border-right: 1px solid #B9B9B9;
}
.questsBox { 
    .boxTitle {
        background-color: #ab452f;
    }
}    
.expiringQuests {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        font-weight: 700;
        font-size: 1.1em;
        padding: 4%;
        text-align: left;
        overflow: auto;

        &:nth-child(odd) {
            background-color: #efeeee;
        }

        span {
            font-size: 1rem;
        }
    }
}  
.questThumb {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 4%;
}
.profilePicRound {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: 2%;
}
.bannerSmall {
    width: 90%;
    padding: 1% 1% 5% 1%;
    box-sizing: border-box;
    background-image: url(../assets/banner500.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.2em;
    color: #FFF;
    margin: 0 auto;
    position: relative;
    top: -15px;
}
@include hidpi(2) {
.notificationIcon {
    background-image: url(../assets/bell2x.png);
}
.personIcon {
    background-image: url(../assets/personIconM2x.png);
}  
.achievementsIcon {
    background-image: url(../assets/trophyIcon2x.png);
}  
.questsIcon {
    background-image: url(../assets/pencilIcon2x.png);
}  
.xpIcon {
    background-image: url(../assets/xpIcon2x.png);
}  
}
$sideBreak: 1024px;
@media screen and (max-width: $sideBreak) {
    .mainBlock {
        width: 100%;
    }
    .sideBlock {
        display: none;
    }
    .sectionNavigation {
        width: 100%;
    }
}
$tableBreak: 600px;
@media screen and (max-width: $tableBreak) {
    .mainBoard thead {
        display: none;
    }
    .boardEntry {
        display: block;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 1%;
        border-radius: 5px;
        border: 0;
    }
    .boardEntry td {
        display: block;
        width: 100%;
        background-image: -webkit-gradient(linear,left top,right top,color-stop(0, rgba(22, 160, 132, 0.75)),color-stop(0.5, rgba(22, 160, 132, 0.75)),color-stop(0.5, #f7f7f7),color-stop(1, #f7f7f7));background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    }
    .boardEntry:first-child  td {
        background-image: -webkit-gradient(linear,left top,right top,color-stop(0, rgba(22, 160, 132, 0.75)),color-stop(0.5, rgba(22, 160, 132, 0.75)),color-stop(0.5, #f9f9f9),color-stop(1, #f9f9f9));background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    }
    .boardEntry:nth-child(even)  td {
        background-image: -webkit-gradient(linear,left top,right top,color-stop(0, rgba(22, 160, 132, 0.75)),color-stop(0.5, rgba(22, 160, 132, 0.75)),color-stop(0.5, #ECECEC),color-stop(1, #ECECEC));background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    }
    .boardEntry td:before {
        content: attr(data-th)": ";
        float: left;
        width: 36%;
        color: #fff;
        font-weight: 700;
    }
    #boardAvatar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
   
}

