@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* line 1, _general.scss */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: "cabin", sans-serif;
  font-weight: 400;
  background-color: #f4f4f4;
  color: #555555;
  min-width: 968px;
}

/* line 12, _general.scss */
h1 {
  margin: 0;
  font-size: 2.6em;
  font-weight: 400;
}

/* line 17, _general.scss */
h3 {
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em 0;
}

/* line 23, _general.scss */
h6 {
  margin: 2%;
  padding: 4%;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 30, _general.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 34, _general.scss */
.headAnchor {
  display: block;
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

/* line 40, _general.scss */
h2.sectionTitle {
  margin: 0 0 1% 0;
  background: #16A085;
  color: #FFF;
  padding: 1%;
  font-size: 1.1em;
  text-transform: uppercase;
}

/* line 48, _general.scss */
.achievements .sectionTitle, .profileAchievements .sectionTitle {
  background-color: #2F9DAB;
}

/* line 51, _general.scss */
.quests .sectionTitle, .profileQuests .sectionTitle {
  background-color: #AB452F;
}

/* line 55, _general.scss */
.clickable {
  cursor: pointer;
}

/* line 58, _general.scss */
.wrapper {
  width: 100%;
  position: relative;
  padding-top: 50px;
  height: 100%;
  box-sizing: border-box;
}

/* line 65, _general.scss */
.contentContainer {
  height: 100%;
}
/* line 67, _general.scss */
.contentContainer .noScroll {
  overflow: hidden;
}

/* line 71, _general.scss */
.drawerMove {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

/* line 74, _general.scss */
.adminCont {
  width: calc(100% - 19.5%);
  float: right;
}

/* line 78, _general.scss */
.content {
  -webkit-transition: 0.3s width;
  -moz-transition: 0.3s width;
  transition: 0.3s width;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0.5%;
  box-sizing: border-box;
}
/* line 85, _general.scss */
.content.admin {
  width: calc(100% - 19.5%);
  margin: 0;
}
/* line 90, _general.scss */
.content.noPadding {
  padding: 0%;
}

/* line 95, _general.scss */
.footer {
  margin: 0 0.5% 0.5% 0.5%;
  -webkit-transition: 0.3s width;
  -moz-transition: 0.3s width;
  transition: 0.3s width;
}
/* line 99, _general.scss */
.footer.admin {
  clear: right;
  width: auto;
  display: block;
  float: right;
  box-sizing: border-box;
  padding: 0 0.5% 0.5% 0.5%;
  margin: 0;
  white-space: nowrap;
}

/* line 110, _general.scss */
.gallop {
  -webkit-transition: 6s ease;
  -moz-transition: 6s ease;
  transition: 6s ease;
  position: relative;
  left: 0px;
}

/* line 116, _general.scss */
.button {
  background: rgba(0, 0, 0, 0.42);
  display: inline-block;
  text-align: center;
  padding: 0.6em;
  border-radius: 5px;
  font-size: 1rem;
  border: 0;
}
/* line 125, _general.scss */
.button:hover {
  background: rgba(0, 0, 0, 0.51);
}
/* line 128, _general.scss */
.button:active {
  background: rgba(0, 0, 0, 0.54);
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.52);
}
/* line 135, _general.scss */
.button.blue {
  background: #1892B6;
  color: #FFF;
}
/* line 139, _general.scss */
.button.blue:hover {
  background: #1589AB;
}
/* line 142, _general.scss */
.button.blue:active {
  background: #157F9E;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.3);
}
/* line 147, _general.scss */
.button.red {
  background: #ED3600;
  color: #FFF;
}
/* line 151, _general.scss */
.button.red:hover {
  background: #E43400;
}
/* line 154, _general.scss */
.button.red:active {
  background: #CB2E00;
}

/* line 159, _general.scss */
.warningBanner {
  padding: 1%;
  background: #E00000;
  border-radius: 4px;
  color: #FFF;
  text-align: center;
}
/* line 166, _general.scss */
.warningBanner.blue {
  background: #009CE0;
}

/* Navigation */
/* line 3, _navigation.scss */
.nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  width: 100%;
  height: 50px;
  background-color: #16a085;
  position: fixed;
  top: 0;
  z-index: 9999;
}

/* line 13, _navigation.scss */
#logo {
  text-align: center;
  font-weight: 700;
  font-size: 1.6em;
  color: #FFF;
  line-height: 50px;
  padding: 0 0.5%;
}
/* line 21, _navigation.scss */
#logo a {
  text-decoration: none;
  color: #FFF;
}

/* line 26, _navigation.scss */
.profilePicSmall {
  width: 30px;
  margin: 10px 10px 0.5% 0;
  float: left;
}

/* line 31, _navigation.scss */
.user {
  color: #fff;
  line-height: 50px;
  padding: 0 0.5%;
  cursor: pointer;
  white-space: nowrap;
}

/* line 38, _navigation.scss */
.close {
  float: right;
  font-size: 2em;
}

/* line 42, _navigation.scss */
.notificationIcon {
  text-align: left;
  background-image: url(../assets/bell.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: calc(100% - 6px);
  padding-right: calc(20px + 0.5%);
  padding-left: 0.5%;
  min-width: 10px;
  box-sizing: border-box;
  color: #FFF;
  line-height: 50px;
  text-align: right;
}
/* line 56, _navigation.scss */
.notificationIcon.loggedOut {
  background-image: none;
}

/* line 60, _navigation.scss */
.downArrow {
  font-size: 0.7em;
  margin-left: 0.5em;
}

/* line 64, _navigation.scss */
.drawer {
  position: fixed;
  display: block;
  vertical-align: top;
  width: 19.5%;
  min-width: 250px;
  background: #00F;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 9999;
  left: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
/* line 78, _navigation.scss */
.drawer .user {
  height: 50px;
  padding: 0px 2.5%;
}
/* line 83, _navigation.scss */
.drawer.closed {
  left: -346px;
}

/* line 87, _navigation.scss */
ul.menu {
  list-style: none;
  color: #FFF;
  margin: 0;
  padding: 0%;
  font-size: 1.1em;
}
/* line 94, _navigation.scss */
ul.menu li {
  padding: 4%;
  margin: 2%;
  border-radius: 4px;
  font-weight: 700;
}
/* line 100, _navigation.scss */
ul.menu li:hover {
  background-color: rgba(0, 0, 0, 0.28);
}
/* line 104, _navigation.scss */
ul.menu li.logOut {
  position: absolute;
  bottom: 0;
}

/* line 111, _navigation.scss */
.sideIcon {
  margin-right: 4%;
  font-weight: 400;
}

/* line 115, _navigation.scss */
.sectionNavigation {
  padding: 1% 0;
  width: 80%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
/* line 121, _navigation.scss */
.sectionNavigation ul {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #808080;
}
/* line 126, _navigation.scss */
.sectionNavigation ul a {
  color: inherit;
}
/* line 129, _navigation.scss */
.sectionNavigation ul li {
  display: inline-block;
  margin: 0 2% -2px 0;
  padding: 0 0 4px 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
/* line 136, _navigation.scss */
.sectionNavigation ul li.currentPage {
  border-bottom: 2px solid #16a085;
}

/* line 142, _navigation.scss */
ul.footerLinks {
  list-style: none;
  margin: 0;
  padding: 1% 0;
  font-size: 0.9em;
  border-top: 1px solid #808080;
}
/* line 149, _navigation.scss */
ul.footerLinks li {
  display: inline-block;
  margin-right: 1%;
}
/* line 153, _navigation.scss */
ul.footerLinks li.copyright {
  float: right;
  margin-right: 0;
}

/* line 159, _navigation.scss */
.sectionNavigation ul li.current, .sectionNavigation ul li:hover {
  border-bottom: 2px solid #16a085;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 163, _navigation.scss */
  .notificationIcon {
    background-image: url(../assets/bell2x.png);
  }
}
/* @import "_account.scss"; */
/* Main */
/* line 2, _main.scss */
.mainBlock {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  white-space: initial;
}

/* line 9, _main.scss */
.drawerO {
  width: 100%;
}

/* line 14, _main.scss */
.mainBoard {
  width: 100%;
}

/* line 17, _main.scss */
.headerBoard {
  background-color: #16a085;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  border-right: 1px solid #16A085;
}
/* line 24, _main.scss */
.headerBoard th {
  margin: 0;
  padding: 13px 1%;
  border: 0;
  text-align: left;
}

/* line 31, _main.scss */
.boardIcon {
  height: 20px;
  width: 20px;
  font-size: 1.1em;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  float: left;
  margin-right: 5%;
  color: #F3B949;
  color: rgba(0, 0, 0, 0.46);
  font-weight: 400;
}

/* line 44, _main.scss */
.flaticon-trophy56.boardIcon {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  transition: 3s;
}
/* line 47, _main.scss */
.flaticon-trophy56.boardIcon:hover {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

/* line 51, _main.scss */
.boardEntry {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #CCC;
}
/* line 58, _main.scss */
.boardEntry td {
  padding: 1%;
  border: 1px solid #CCC;
}
/* line 62, _main.scss */
.boardEntry td.pos {
  width: 10px;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px;
}
/* line 68, _main.scss */
.boardEntry td.boardAvatar {
  width: 40px;
  padding: 10px;
}
/* line 74, _main.scss */
.boardEntry td:last-child {
  border-right: 1px solid #CCC;
}
/* line 78, _main.scss */
.boardEntry:nth-child(even) {
  background: #ececec;
}
/* line 81, _main.scss */
.boardEntry:first-child {
  background: #f7f7f7;
}
/* line 84, _main.scss */
.boardEntry:hover {
  background-color: #696969;
  color: #FFF;
}

/* line 89, _main.scss */
.avatarBoard {
  height: 40px;
  width: 40px;
}

/* line 93, _main.scss */
.StudentName a {
  border-bottom: 1px dotted;
}

/* Side Boxes */
/* line 98, _main.scss */
.sideBlock {
  display: inline-block;
  vertical-align: top;
  width: 19.5%;
  padding-left: 0.5%;
}
/* line 104, _main.scss */
.sideBlock.drawerO {
  display: none;
}

/* line 108, _main.scss */
.boxTitle {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  padding: 13px 1%;
}

/* line 115, _main.scss */
.boxContent {
  border: 1px solid #b9b9b9;
  border-top: none;
  text-align: center;
}

/* line 120, _main.scss */
.box {
  width: 100%;
  background: #fff;
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 3%;
}

/* line 128, _main.scss */
.youBox .boxContent {
  padding: 4%;
}

/* line 133, _main.scss */
.boxStat {
  margin: 7.5% 0;
  width: 33.33%;
  display: inline-block;
}

/* line 138, _main.scss */
.boxStat:nth-child(2) {
  border-left: 1px solid #B9B9B9;
  border-right: 1px solid #B9B9B9;
}

/* line 142, _main.scss */
.profilePicRound {
  height: 100px;
  width: 100px;
  border-radius: 60px;
  margin-top: 2%;
}

/* line 148, _main.scss */
.bannerSmall {
  width: 90%;
  padding: 1% 1% 5% 1%;
  box-sizing: border-box;
  background-image: url(../assets/banner500.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.2em;
  color: #FFF;
  margin: 0 auto;
  position: relative;
  top: -15px;
}

/* line 163, _main.scss */
.questsBox .boxTitle {
  background-color: #ab452f;
}

/* line 167, _main.scss */
.expiringQuests {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 172, _main.scss */
.expiringQuests li {
  font-weight: 700;
  font-size: 1.1em;
  padding: 4%;
  text-align: left;
  overflow: auto;
}
/* line 179, _main.scss */
.expiringQuests li:nth-child(even) {
  background-color: #efeeee;
}
/* line 183, _main.scss */
.expiringQuests li span {
  font-size: 1rem;
}

/* line 188, _main.scss */
.questThumb {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 4%;
}

/* Activity */
/* line 197, _main.scss */
.activityColumn {
  width: 33.33%;
  padding: 0.5%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
/* line 203, _main.scss */
.activityColumn.achievementsActivity {
  padding-left: 0;
}
/* line 206, _main.scss */
.activityColumn.xpActivity {
  padding-right: 0;
}

/* line 211, _main.scss */
.achievementsActivity .sectionTitle {
  background-color: #2F9DAB;
  padding: 2%;
}

/* line 217, _main.scss */
.questsActivity .sectionTitle {
  background-color: #AB452F;
  padding: 2%;
}

/* line 223, _main.scss */
.xpActivity .sectionTitle {
  background-color: #F7CA5D;
  padding: 2%;
  color: #000;
}

/* line 229, _main.scss */
.activityEntry {
  width: 100%;
  background: #FFF;
  box-sizing: border-box;
  overflow: auto;
  margin-bottom: 2%;
}
/* line 236, _main.scss */
.activityEntry .userAvatar {
  height: 50px;
  width: 50px;
  float: left;
  vertical-align: top;
  margin-right: 2%;
}
/* line 243, _main.scss */
.activityEntry .userInfo {
  color: #FFF;
  padding: 2%;
  overflow: auto;
}
/* line 248, _main.scss */
.activityEntry h3 {
  text-align: left;
  margin: 0;
  font-size: 1.3em;
  font-weight: 700;
}
/* line 254, _main.scss */
.activityEntry p {
  text-align: left;
  margin: 0;
}
/* line 258, _main.scss */
.activityEntry .unlockDetail {
  overflow: auto;
  padding: 2%;
  border: 1px solid #B9B9B9;
  border-top: none;
}
/* line 263, _main.scss */
.activityEntry .unlockDetail h3 {
  font-size: 1.5em;
}
/* line 266, _main.scss */
.activityEntry .unlockDetail p {
  font-size: 1.4em;
}
/* line 270, _main.scss */
.activityEntry .icon {
  border-radius: 50px;
  height: 65px;
  width: 65px;
  float: left;
  margin-right: 2%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 281, _main.scss */
  .personIcon {
    background-image: url(../assets/personIconM2x.png);
  }

  /* line 284, _main.scss */
  .achievementsIcon {
    background-image: url(../assets/trophyIcon2x.png);
  }

  /* line 287, _main.scss */
  .questsIcon {
    background-image: url(../assets/pencilIcon2x.png);
  }

  /* line 290, _main.scss */
  .xpIcon {
    background-image: url(../assets/xpIcon2x.png);
  }
}
/* line 1, _unlockables.scss */
.unlockableListCont {
  border: 1px solid #B9B9B9;
  padding: 1%;
  background: #FFF;
  margin-bottom: 1%;
  color: #7B7B7B;
}
/* line 8, _unlockables.scss */
.unlockableListCont.selected {
  -webkit-animation: selectedGlow 5s ease;
  -moz-animation: selectedGlow 5s ease;
  animation: selectedGlow 5s ease;
}

@-webkit-keyframes selectedGlow {
  0% {
    background: #fff;
  }
  10% {
    background: #FFFBB1;
  }
  90% {
    background: #FFFBB1;
  }
  100% {
    background: #fff;
  }
}
@-moz-keyframes selectedGlow {
  0% {
    background: #fff;
  }
  10% {
    background: #FFFBB1;
  }
  90% {
    background: #FFFBB1;
  }
  100% {
    background: #fff;
  }
}
@keyframes selectedGlow {
  0% {
    background: #fff;
  }
  10% {
    background: #FFFBB1;
  }
  90% {
    background: #FFFBB1;
  }
  100% {
    background: #fff;
  }
}
/* line 19, _unlockables.scss */
.unlockableIcon {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1%;
  box-sizing: border-box;
  vertical-align: top;
}
/* line 29, _unlockables.scss */
.unlockableIcon.achievement {
  border-radius: 60px;
  border: 4px solid #E4E4E4;
  box-shadow: 0px 0px 1px #000;
}

/* line 35, _unlockables.scss */
.unlockableDetails {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 100px - 1% - 8%);
}

/* line 40, _unlockables.scss */
h2.unlockableTitle {
  margin: 0 0 1% 0;
  vertical-align: top;
  text-transform: uppercase;
}

/* line 45, _unlockables.scss */
p.unlockableDesc {
  margin: 0;
  font-size: 0.9em;
}

/* line 49, _unlockables.scss */
p.unlockableExpire {
  font-size: 0.85em;
  font-weight: 700;
}

/* line 53, _unlockables.scss */
.unlockableXP {
  width: 8%;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
  vertical-align: top;
}
/* line 61, _unlockables.scss */
.unlockableXP.flaticon-medal61 {
  font-size: 1.5em;
  font-weight: 400;
  /* color: #F3B949; */
}

/* line 67, _unlockables.scss */
p.unlockableMessage {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

/* line 1, _profile.scss */
.profileTop {
  width: 100%;
  background: #46404C;
  color: #FFF;
  margin-top: -50px;
  padding: 3% 3% 1% 3%;
  padding-top: calc(3% + 50px);
  box-sizing: border-box;
  background-image: url(../assets/pattern.png);
  background-size: 72px;
  background-position: center top;
  background-attachment: fixed;
}
/* line 14, _profile.scss */
.profileTop .profilePicRound {
  border: 4px solid #E4E4E4;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.62);
  margin: 0;
  margin-right: 3%;
  float: left;
  background: #FFF;
}

/* line 24, _profile.scss */
.clanTag {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

/* line 30, _profile.scss */
.proStat {
  display: inline-block;
  padding: 0 2%;
  border-right: 1px solid rgba(0, 0, 0, 0.46);
  text-align: center;
  font-size: 1.3em;
}
/* line 37, _profile.scss */
.proStat:first-child {
  padding-left: 0;
}
/* line 40, _profile.scss */
.proStat:last-child {
  border: none;
}

/* line 44, _profile.scss */
.profileStats {
  background-color: #28252C;
  color: white;
  padding: 1%;
}
/* line 49, _profile.scss */
.profileStats .proIcon {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.46);
}

/* line 55, _profile.scss */
.dark .proStat {
  border-right: 1px solid rgba(255, 255, 255, 0.46);
}
/* line 58, _profile.scss */
.dark .proStat:last-child {
  border-right: none;
}
/* line 62, _profile.scss */
.dark .profileStats .proIcon {
  color: rgba(255, 255, 255, 0.46);
}

/* line 69, _profile.scss */
.editProfile.button {
  float: right;
}

/* line 73, _profile.scss */
.profileBox {
  width: 50%;
  padding: 1%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

/* line 80, _profile.scss */
.profileAchievements.profileBox {
  padding-right: 0.5%;
}

/* line 84, _profile.scss */
.profileQuests.profileBox {
  padding-left: 0.5%;
}

/* line 90, _profile.scss */
.unlockableIcon.profileAchievement {
  border-radius: 60px;
  border: 4px solid #E4E4E4;
  box-shadow: 0px 0px 1px #000;
}

/* line 1, _dashboard.scss */
.stats {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
}
/* line 6, _dashboard.scss */
.stats.xp {
  text-align: center;
  font-size: 2em;
  color: #FFD700;
}
/* line 11, _dashboard.scss */
.stats.xp.flaticon-medal61 {
  font-size: 2em;
}
/* line 15, _dashboard.scss */
.stats.xp p {
  margin: 0;
}

/* line 28, _dashboard.scss */
.statRightHolder {
  display: inline-block;
  height: 90%;
  width: 64%;
  position: relative;
  top: -32px;
  margin: 0;
}

/* line 36, _dashboard.scss */
.statRightHolder ul {
  list-style: none;
  margin: 0;
}

/* line 40, _dashboard.scss */
.statRightHolder li {
  border-bottom: 1px solid #ccc;
  height: 85px;
  width: 95%;
  position: relative;
  top: -25px;
}

/* line 47, _dashboard.scss */
.statRightHolder h3 {
  display: inline-block;
  margin-right: 15px;
  color: #B6B5B5;
  font-weight: 300;
  font-size: 38px;
}

/* line 54, _dashboard.scss */
.statRightHolder span {
  display: inline-block;
  color: #B6B5B5;
  font-size: 21px;
  font-weight: 300;
}

/* line 61, _dashboard.scss */
.statsLeft {
  list-style: none;
  display: inline-block;
  width: 45%;
}

/* line 66, _dashboard.scss */
.statsLeft li {
  width: 100%;
  height: 14px;
  border: none;
  top: 5px;
  margin-bottom: 25px;
}

/* line 73, _dashboard.scss */
.statsLeft h3 {
  font-size: 17px;
  display: inline-block;
}

/* line 77, _dashboard.scss */
.statsLeft span {
  font-size: 17px;
  display: inline-block;
}

/* line 81, _dashboard.scss */
.statsRight {
  width: 45%;
  display: inline-block;
  position: absolute;
}

/* line 86, _dashboard.scss */
.statsRight li {
  width: 100%;
  height: 14px;
  border: none;
  top: 5px;
  margin-bottom: 25px;
}

/* line 93, _dashboard.scss */
.statsRight h3 {
  font-size: 17px;
  display: inline-block;
}

/* line 97, _dashboard.scss */
.statsRight span {
  font-size: 17px;
  display: inline-block;
}

/* Pie Chart */
/* line 102, _dashboard.scss */
.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  margin: 0 auto;
}

/* line 110, _dashboard.scss */
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

/* line 114, _dashboard.scss */
.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}

/* line 124, _dashboard.scss */
.ppc-progress .ppc-progress-fill {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  transition: 1.5s;
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #81CE97;
  transform: rotate(0deg);
}

/* line 137, _dashboard.scss */
.ppc-progress-fill.ppc-progress-fill0 {
  background: #2F9DAB;
}

/* line 140, _dashboard.scss */
.ppc-progress-fill.ppc-progress-fill1 {
  background: #AB452F;
}

/* line 144, _dashboard.scss */
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}

/* line 147, _dashboard.scss */
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

/* line 152, _dashboard.scss */
.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #F4F4F4;
  text-align: center;
  display: table;
}

/* line 165, _dashboard.scss */
.ppc-percents span {
  display: block;
  font-weight: bold;
  color: #81CE97;
  box-sizing: border-box;
  padding: 2%;
}
/* line 172, _dashboard.scss */
.ppc-percents span.pie-info {
  font-size: 1.2em;
}
/* line 175, _dashboard.scss */
.ppc-percents span.pie-percent {
  font-size: 2em;
}

/* line 180, _dashboard.scss */
.pcc-percents-wrapper0 span {
  color: #2F9DAB;
}

/* line 183, _dashboard.scss */
.pcc-percents-wrapper1 span {
  color: #AB452F;
}

/* line 186, _dashboard.scss */
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/* line 1, _login.scss */
.loginWrap {
  background: #0D5A4B;
  color: #fff;
}

/* line 5, _login.scss */
.loginBack {
  line-height: 50px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1%;
}

/* line 13, _login.scss */
.loginBk {
  margin-top: -50px;
  min-height: 100%;
  padding: 10%;
}

/* line 18, _login.scss */
.login {
  max-width: 300px;
  margin: 0 auto;
  padding: 2%;
  background-color: #FFF;
  color: #555;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #323232;
}

/* line 27, _login.scss */
.logo {
  text-align: center;
  font-weight: 700;
  font-size: 1.6em;
  color: #555;
  line-height: 50px;
  padding: 0 0.5%;
  margin-bottom: 3%;
}
/* line 36, _login.scss */
.logo a {
  text-decoration: none;
  color: #555;
}

/* line 41, _login.scss */
.field {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #B2B2B2;
  background: transparent;
  color: #555;
  width: 100%;
  box-sizing: border-box;
  padding: 4% 4% 4% 8%;
  margin-bottom: 2%;
  border-radius: 3px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 3% 50%;
}
/* line 55, _login.scss */
.field:focus {
  outline: none;
  border-color: #CA6158;
  background-image: url(../assets/arrow.png);
}

/* line 62, _login.scss */
.loginSubmit {
  float: right;
  padding: 3%;
  background: #16A085;
  color: #fff;
}
/* line 68, _login.scss */
.loginSubmit:hover {
  background: #169980;
}
/* line 72, _login.scss */
.loginSubmit:focus {
  outline: none;
  background: #0F594B;
}
/* line 77, _login.scss */
.loginSubmit:active {
  padding-top: 3.6%;
  padding-bottom: 2.4%;
  background: #178B75;
}

/* line 1, _account.scss */
.formContainer {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
/* line 7, _account.scss */
.formContainer .button {
  display: block;
  margin: 10px 0;
}

/* line 12, _account.scss */
.picContainer {
  position: relative;
  overflow: auto;
  height: 180px;
  display: inline-block;
  vertical-align: top;
}

/* line 19, _account.scss */
.accountPic {
  width: 150px;
  height: 150px;
}

/* line 23, _account.scss */
.changePic {
  width: 150px;
  height: 30px;
  background: #16A085;
  position: absolute;
  left: 0;
  top: 150px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

/* line 35, _account.scss */
.inputField {
  background: #F4F4F4;
  display: block;
  border: 1px solid #B8B8B8;
  padding: 1.4%;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
}
/* line 44, _account.scss */
.inputField.disabled {
  background: #DFDFDF;
}

/* line 48, _account.scss */
.detailLabel {
  font-size: 0.9em;
  margin: 10px 0 5px 0;
}

/* line 54, _account.scss */
.colourOption {
  width: 50px;
  height: 50px;
  margin-right: 3%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: 0.3s border;
  -moz-transition: 0.3s border;
  transition: 0.3s border;
}
/* line 63, _account.scss */
.colourOption.selected {
  border: 4px solid #88BCF7;
}
/* line 67, _account.scss */
.colourOption.a {
  background-color: #076d91;
  background-image: -webkit-linear-gradient(#076d91 0%, #076d91 50%, #064e67 50%, #064e67 100%);
  background-image: linear-gradient(#076d91 0%, #076d91 50%, #064e67 50%, #064e67 100%);
}
/* line 70, _account.scss */
.colourOption.b {
  background-color: #e74c3c;
  background-image: -webkit-linear-gradient(#e74c3c 0%, #e74c3c 50%, #b94034 50%, #b94034 100%);
  background-image: linear-gradient(#e74c3c 0%, #e74c3c 50%, #b94034 50%, #b94034 100%);
}
/* line 73, _account.scss */
.colourOption.c {
  background-color: #46404c;
  background-image: -webkit-linear-gradient(#46404c 0%, #46404c 50%, #28252C 50%, #28252C 100%);
  background-image: linear-gradient(#46404c 0%, #46404c 50%, #28252C 50%, #28252C 100%);
}

/* line 77, _account.scss */
.clanCont {
  overflow: auto;
}
/* line 80, _account.scss */
.clanCont .clanEmblem {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 2%;
}
/* line 86, _account.scss */
.clanCont h3 {
  text-align: left;
  margin: 0;
}

/* line 92, _account.scss */
.clanBox {
  width: 50%;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  /* line 21, style.scss */
  .mainBlock {
    width: 100%;
  }

  /* line 24, style.scss */
  .sideBlock {
    display: none;
  }

  /* line 27, style.scss */
  .sectionNavigation {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  /* line 32, style.scss */
  .mainBoard thead {
    display: none;
  }

  /* line 35, style.scss */
  .boardEntry {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 1%;
    border-radius: 5px;
    border: 0;
  }

  /* line 43, style.scss */
  .boardEntry td {
    display: block;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(22, 160, 132, 0.75)), color-stop(0.5, rgba(22, 160, 132, 0.75)), color-stop(0.5, #f7f7f7), color-stop(1, #f7f7f7));
    background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
  }

  /* line 48, style.scss */
  .boardEntry:first-child td {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(22, 160, 132, 0.75)), color-stop(0.5, rgba(22, 160, 132, 0.75)), color-stop(0.5, #f9f9f9), color-stop(1, #f9f9f9));
    background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
  }

  /* line 51, style.scss */
  .boardEntry:nth-child(even) td {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(22, 160, 132, 0.75)), color-stop(0.5, rgba(22, 160, 132, 0.75)), color-stop(0.5, #ECECEC), color-stop(1, #ECECEC));
    background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
  }

  /* line 54, style.scss */
  .boardEntry td:before {
    content: attr(data-th) ": ";
    float: left;
    width: 36%;
    color: #fff;
    font-weight: 700;
  }

  /* line 61, style.scss */
  #boardAvatar {
    display: none;
  }
}
