@-webkit-viewport {width: device-width;}@-moz-viewport {width: device-width;}@-ms-viewport {width: device-width;}@-o-viewport {width: device-width;}@viewport {width: device-width;}
$navHeight: 50px;
$drawerSlide: 0.3s;
$sideBreak: 1024px;
$tableBreak: 600px;

@import "bourbon/bourbon";
@import "_general.scss";
@import "_navigation.scss";
/* @import "_account.scss"; */
@import "_hub.scss";
@import "_unlockables.scss";
@import "_profile.scss";
@import "_dashboard.scss";
@import "_login.scss";
@import "_account.scss";
@import "_edit.scss";
@import "_setup.scss";




@media screen and (max-width: $sideBreak) {
    .mainBlock {
        width: 100%;
    }
    .sideBlock {
        display: none;
    }
    .sectionNavigation {
        width: 100%;
    }
}
@media screen and (max-width: $tableBreak) {


}

@media screen and (max-width: 760px) {
    .headerBoard th {
        padding: 2%;
    }
    .boardAvatar, #headPro {
        display: none;
    }
    #headPos, #headAch, #headQuests, #headXP {
        text-align: center;
    }
    .boardEntry td.achievements, .boardEntry td.quests, .boardEntry td.xp {
        width: 10%;
        text-align: center;
    }
    .boardIcon {
        margin: 0 auto;
        float: none;
    }
}

