@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* line 7, style.scss */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: "cabin", sans-serif;
  font-weight: 400;
  background-color: #f4f4f4;
  color: #555555;
}

/* line 17, style.scss */
h3 {
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em 0;
}

/* line 23, style.scss */
.wrapper {
  width: 100%;
  position: relative;
}

/* line 27, style.scss */
.contentContainer.noScroll {
  overflow: hidden;
}

/* line 30, style.scss */
.content {
  width: 100%;
  max-width: 1400px;
  padding: 0.5%;
  box-sizing: border-box;
}

/* Navigation */
/* line 39, style.scss */
.nav {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #0d5b4c;
  background-color: #138972;
  position: relative;
  z-index: 9999;
}

/* line 47, style.scss */
#logo {
  font-weight: 700;
  font-size: 1.6em;
  color: #FFF;
  line-height: 50px;
  padding: 0 0.5%;
  float: left;
}

/* line 55, style.scss */
.user {
  float: right;
  color: #fff;
  line-height: 50px;
  padding: 0 0.5%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* line 63, style.scss */
.downArrow {
  font-size: 0.7em;
  margin-left: 0.5em;
}

/* Login/Register Forms */
/* line 70, style.scss */
.loginContainers {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  display: none;
}

/* line 80, style.scss */
.loginContainers.visible {
  display: block;
}

/* line 83, style.scss */
.entryForm {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 350px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

/* line 91, style.scss */
.entryForm.visible {
  display: block;
}

/* line 94, style.scss */
.loginDiv {
  background-color: #fff;
  padding: 5%;
  box-sizing: border-box;
}

/* line 99, style.scss */
.icon-cross {
  float: right;
  font-size: 0.8em;
}

/* line 103, style.scss */
.field {
  width: 100%;
  font: inherit;
  font-weight: 400;
  padding: 3%;
  box-sizing: border-box;
  margin: 1% 0;
  border: 1px solid #A5A5A5;
}

/* line 112, style.scss */
.field:focus {
  outline: none;
  border-color: #F00;
}

/* line 116, style.scss */
.formSubmit p {
  float: left;
}

/* line 119, style.scss */
.submit, .register {
  background-color: #138972;
  border: none;
  color: #FFF;
  padding: 10px 25px;
  font-size: 1em;
  font: inherit;
  float: right;
  border-bottom: 2px solid #0E6151;
  position: relative;
  cursor: pointer;
}

/* line 131, style.scss */
.submit {
  margin: 2% 0 0 0;
}

/* line 134, style.scss */
.submit:focus, .register:focus {
  background-color: #146E5C;
  outline: none;
}

/* line 138, style.scss */
.submit:active, .register:active {
  background-color: #147B67;
  border-bottom: 2px solid transparent;
  top: 2px;
}

/* line 143, style.scss */
.register {
  margin: 2% 0;
}

/* line 146, style.scss */
.formBottom {
  display: block;
  overflow: auto;
  margin-top: 1px;
  background-color: #F0F0F0;
}

/* line 152, style.scss */
.formBottom p {
  float: left;
}
