@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* line 7, style.scss */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: "cabin", sans-serif;
  font-weight: 400;
  background-color: #f4f4f4;
  color: #555555;
}

/* line 17, style.scss */
#cats {
  background-image: url(http://localhost:8888/assets/cats.gif);
  height: 100%;
}

/* line 21, style.scss */
h1 {
  margin: 0;
  font-size: 2.6em;
  font-weight: 400;
}

/* line 26, style.scss */
h3 {
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em 0;
}

/* line 32, style.scss */
h6 {
  margin: 2%;
  padding: 4%;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 39, style.scss */
.clickable {
  cursor: pointer;
}

/* line 42, style.scss */
.wrapper {
  width: 100%;
  position: relative;
  padding-top: 50px;
}

/* line 48, style.scss */
.contentContainer .noScroll {
  overflow: hidden;
}

/* line 52, style.scss */
.content {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0.5%;
  box-sizing: border-box;
}
/* line 59, style.scss */
.content.admin {
  width: calc(100% - 19.5%);
  margin: 0;
  float: right;
}

/* Navigation */
/* line 70, style.scss */
.nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  width: 100%;
  height: 50px;
  background-color: #16a085;
  position: fixed;
  top: 0;
  z-index: 9999;
}

/* line 80, style.scss */
#logo {
  text-align: center;
  font-weight: 700;
  font-size: 1.6em;
  color: #FFF;
  line-height: 50px;
  padding: 0 0.5%;
}
/* line 88, style.scss */
#logo a {
  text-decoration: none;
  color: #FFF;
}

/* line 93, style.scss */
.profilePicSmall {
  width: 30px;
  margin: 10px 10px 0.5% 0;
  float: left;
}

/* line 98, style.scss */
.user {
  color: #fff;
  line-height: 50px;
  padding: 0 0.5%;
  cursor: pointer;
}

/* line 104, style.scss */
.close {
  float: right;
  font-size: 2em;
}

/* line 108, style.scss */
.notificationIcon {
  text-align: left;
  background-image: url(../assets/bell.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 17px;
  padding-right: calc(20px + 0.5%);
  padding-left: 0.5%;
  min-width: 10px;
  color: #FFF;
  line-height: 50px;
}

/* line 120, style.scss */
.downArrow {
  font-size: 0.7em;
  margin-left: 0.5em;
}

/* line 124, style.scss */
.drawer {
  position: fixed;
  display: block;
  vertical-align: top;
  width: 19.5%;
  min-width: 198px;
  background: #00F;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 9999;
  left: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
/* line 138, style.scss */
.drawer .user {
  height: 50px;
  padding: 0px 2.5%;
}
/* line 143, style.scss */
.drawer.closed {
  left: -346px;
}

/* line 147, style.scss */
ul.menu {
  list-style: none;
  color: #FFF;
  margin: 0;
  padding: 0%;
  font-size: 1.1em;
}
/* line 154, style.scss */
ul.menu li {
  padding: 4%;
  margin: 2%;
  border-radius: 4px;
  font-weight: 700;
}
/* line 160, style.scss */
ul.menu li:hover {
  background-color: rgba(0, 0, 0, 0.28);
}

/* line 166, style.scss */
.sideIcon {
  margin-right: 4%;
  font-weight: 400;
}

/* Login/Register Forms */
/* line 173, style.scss */
.loginContainers {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  display: none;
  z-index: 9998;
}

/* line 184, style.scss */
.loginContainers.visible {
  display: block;
}

/* line 187, style.scss */
.entryForm {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 350px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

/* line 195, style.scss */
.entryForm.visible {
  display: block;
}

/* line 198, style.scss */
.loginDiv {
  background-color: #fff;
  padding: 5%;
  box-sizing: border-box;
}

/* line 203, style.scss */
.icon-cross {
  float: right;
  font-size: 0.8em;
  cursor: pointer;
}

/* line 208, style.scss */
.field {
  width: 100%;
  font: inherit;
  font-weight: 400;
  padding: 3%;
  box-sizing: border-box;
  margin: 1% 0;
  border: 1px solid #A5A5A5;
}

/* line 217, style.scss */
.field:focus {
  outline: none;
  border-color: #F00;
}

/* line 221, style.scss */
.formSubmit p {
  float: left;
}

/* line 224, style.scss */
.formSubmit p.clickable:hover {
  border-bottom: 1px dashed #A5A5A5;
}

/* line 227, style.scss */
.formSubmit p.clickable {
  border-bottom: 1px dashed transparent;
  padding-bottom: 1px;
}

/* line 231, style.scss */
.submit, .register {
  background-color: #138972;
  border: none;
  color: #FFF;
  padding: 10px 25px;
  font-size: 1em;
  font: inherit;
  float: right;
  border-bottom: 2px solid #0E6151;
  position: relative;
  cursor: pointer;
}

/* line 243, style.scss */
.submit {
  margin: 2% 0 0 0;
}

/* line 246, style.scss */
.submit:focus, .register:focus {
  background-color: #146E5C;
  outline: none;
}

/* line 250, style.scss */
.submit:active, .register:active {
  background-color: #147B67;
  border-bottom: 2px solid transparent;
  top: 2px;
}

/* line 255, style.scss */
.register {
  margin: 2% 0;
}

/* line 258, style.scss */
.formBottom {
  display: block;
  overflow: auto;
  margin-top: 1px;
  background-color: #F0F0F0;
}
/* line 264, style.scss */
.formBottom p {
  float: left;
}

/* Main */
/* line 270, style.scss */
.mainBlock {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

/* line 276, style.scss */
.sectionNavigation {
  padding: 1% 0;
  width: 80%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
/* line 282, style.scss */
.sectionNavigation ul {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #808080;
}
/* line 287, style.scss */
.sectionNavigation ul a {
  color: inherit;
}
/* line 290, style.scss */
.sectionNavigation ul li {
  display: inline-block;
  margin: 0 2% -2px 0;
  padding: 0 0 4px 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
/* line 297, style.scss */
.sectionNavigation ul li.currentPage {
  border-bottom: 2px solid #16a085;
}

/* line 304, style.scss */
.sectionNavigation ul li.current, .sectionNavigation ul li:hover {
  border-bottom: 2px solid #16a085;
}

/* line 307, style.scss */
.drawerO {
  width: 100%;
}

/* Leaderboard */
/* line 312, style.scss */
.mainBoard {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 321, style.scss */
.headerBoard {
  background-color: #16a085;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  border-right: 1px solid #16A085;
}
/* line 328, style.scss */
.headerBoard th {
  margin: 0;
  padding: 13px 1%;
  border: 0;
}

/* line 334, style.scss */
.boardEntry {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #CCC;
}
/* line 341, style.scss */
.boardEntry td {
  padding: 1%;
  border-left: 1px solid #CCC;
}
/* line 345, style.scss */
.boardEntry td:last-child {
  border-right: 1px solid #CCC;
}
/* line 349, style.scss */
.boardEntry:nth-child(even) {
  background: #ececec;
}
/* line 352, style.scss */
.boardEntry:first-child {
  background: #f7f7f7;
}
/* line 355, style.scss */
.boardEntry:hover {
  background-color: #696969;
  color: #FFF;
}

/* line 360, style.scss */
.pos {
  width: 15px;
}

/* line 363, style.scss */
.boardAvatar {
  width: 40px;
}

/* line 367, style.scss */
.boardIcon {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  float: left;
  margin-right: 5%;
}

/* line 377, style.scss */
.personIcon {
  background-image: url(../assets/personIconM.png);
  float: none;
  margin: 0 auto;
}

/* line 382, style.scss */
.achievementsIcon {
  background-image: url(../assets/trophyIcon.png);
}

/* line 385, style.scss */
.questsIcon {
  background-image: url(../assets/pencilIcon.png);
}

/* line 388, style.scss */
.xpIcon {
  background-image: url(../assets/xpIcon.png);
}

/* line 391, style.scss */
.avatarBoard {
  height: 40px;
  width: 40px;
  background: gray;
}

/* line 396, style.scss */
.achievementCircleCont, .questCircleCont {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  border: 2px dashed #808080;
  border-radius: 62px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
/* line 404, style.scss */
.achievementCircleCont.selected, .questCircleCont.selected {
  border-color: #9D0000;
  -webkit-animation: achievementHover 3s infinite;
  -moz-animation: achievementHover 3s infinite;
  animation: achievementHover 3s infinite;
}

/* line 409, style.scss */
.achievementCircle, .questCircle {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-size: contain;
  border-radius: 50px;
  background-repeat: no-repeat;
}

@-webkit-keyframes achievementHover {
  0% {
    -webkit-transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
  }
}
@-moz-keyframes achievementHover {
  0% {
    -moz-transform: rotate(-15deg);
  }
  50% {
    -moz-transform: rotate(15deg);
  }
  100% {
    -moz-transform: rotate(-15deg);
  }
}
@keyframes achievementHover {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
/* line 424, style.scss */
.achievementDetails, .questDetails {
  display: inline-block;
  vertical-align: top;
}
/* line 428, style.scss */
.achievementDetails p, .questDetails p {
  margin: 0;
  padding: 0;
}

/* line 433, style.scss */
.achievementIcon, .questIcon {
  width: 100px;
  height: 100px;
  background-size: contain;
  display: inline-block;
  vertical-align: top;
}

/* line 440, style.scss */
.achievementInfo, .questInfo {
  overflow: auto;
  border-bottom: 1px solid;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

/* Side Boxes */
/* line 448, style.scss */
.sideBlock {
  display: inline-block;
  vertical-align: top;
  width: 19.5%;
  padding-left: 0.5%;
}
/* line 454, style.scss */
.sideBlock.drawerO {
  display: none;
}

/* line 458, style.scss */
.boxTitle {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  padding: 13px 1%;
}

/* line 465, style.scss */
.boxContent {
  border: 1px solid #b9b9b9;
  border-top: none;
  text-align: center;
}

/* line 470, style.scss */
.box {
  width: 100%;
  background: #fff;
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 3%;
}

/* line 478, style.scss */
.youBox .boxContent {
  padding: 4%;
}

/* line 483, style.scss */
.questsBox .boxTitle {
  background-color: #ab452f;
}

/* line 487, style.scss */
.expiringQuests {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 492, style.scss */
.expiringQuests li {
  font-weight: 700;
  font-size: 1.1em;
  padding: 4%;
  text-align: left;
  overflow: auto;
}
/* line 499, style.scss */
.expiringQuests li:nth-child(odd) {
  background-color: #efeeee;
}
/* line 503, style.scss */
.expiringQuests li span {
  font-size: 1rem;
}

/* line 508, style.scss */
.questThumb {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 4%;
}

/* line 514, style.scss */
.profilePicRound {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 2%;
}

/* line 520, style.scss */
.bannerSmall {
  width: 90%;
  padding: 1% 1% 5% 1%;
  box-sizing: border-box;
  background-image: url(../assets/banner500.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.2em;
  color: #FFF;
  margin: 0 auto;
  position: relative;
  top: -15px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 535, style.scss */
  .notificationIcon {
    background-image: url(../assets/bell2x.png);
  }

  /* line 538, style.scss */
  .personIcon {
    background-image: url(../assets/personIconM2x.png);
  }

  /* line 541, style.scss */
  .achievementsIcon {
    background-image: url(../assets/trophyIcon2x.png);
  }

  /* line 544, style.scss */
  .questsIcon {
    background-image: url(../assets/pencilIcon2x.png);
  }

  /* line 547, style.scss */
  .xpIcon {
    background-image: url(../assets/xpIcon2x.png);
  }
}
@media screen and (max-width: 1024px) {
  /* line 553, style.scss */
  .mainBlock {
    width: 100%;
  }

  /* line 556, style.scss */
  .sideBlock {
    display: none;
  }

  /* line 559, style.scss */
  .sectionNavigation {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  /* line 565, style.scss */
  .mainBoard thead {
    display: none;
  }

  /* line 568, style.scss */
  .boardEntry {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 1%;
    border-radius: 5px;
    border: 0;
  }

  /* line 576, style.scss */
  .boardEntry td {
    display: block;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(22, 160, 132, 0.75)), color-stop(0.5, rgba(22, 160, 132, 0.75)), color-stop(0.5, #f7f7f7), color-stop(1, #f7f7f7));
    background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
    background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f7f7f7 35%, #f7f7f7 100%);
  }

  /* line 581, style.scss */
  .boardEntry:first-child td {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(22, 160, 132, 0.75)), color-stop(0.5, rgba(22, 160, 132, 0.75)), color-stop(0.5, #f9f9f9), color-stop(1, #f9f9f9));
    background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
    background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #f9f9f9 35%, #f9f9f9 100%);
  }

  /* line 584, style.scss */
  .boardEntry:nth-child(even) td {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(22, 160, 132, 0.75)), color-stop(0.5, rgba(22, 160, 132, 0.75)), color-stop(0.5, #ECECEC), color-stop(1, #ECECEC));
    background-image: -o-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    background-image: -moz-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    background-image: -webkit-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    background-image: -ms-linear-gradient(right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
    background-image: linear-gradient(to right, rgba(22, 160, 132, 0.75) 0%, rgba(22, 160, 132, 0.75) 35%, #ECECEC 35%, #ECECEC 100%);
  }

  /* line 587, style.scss */
  .boardEntry td:before {
    content: attr(data-th) ": ";
    float: left;
    width: 36%;
    color: #fff;
    font-weight: 700;
  }

  /* line 594, style.scss */
  #boardAvatar {
    display: none;
  }
}
